body {
  padding: 5px;
  font-size: 13px;
}

body, li {
  /* sure would be nice to SASS this away in bootstrap... */
  line-height: 15px;
}

a {
  color: lightblue;
}

h1 {
  display: inline-block;
  font-size: 30px;
}

#collection-choices {
  display: inline-block;
}

#collection-choices ul {
  margin: 0 0 0 5px;
}

#collection-choices li {
  display: inline-block;
  margin-left: 20px;
  font-size: 18px;
}

.category-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.category-box h4 {
  margin: 0 0 0.5em;
}

.category-box ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.category-box li {
  padding: 3px 0;
  border-bottom: 1px solid #ddd;
}

.category-box li:last-child {
  border-bottom: none;
}

.category-box .count {
  margin-left: 25px;
  color: #999;
}

.category-box .time {
  font-size: 10px;
  color: #999;
}

.category-box .note {
  background: #f3f3f3;
}

.months-container {
  display: inline-block;
  width: 120px;
}

.category-box .months-container {
  position: absolute;
  right: 0;
  top: 0;
}

.months-container div {
  display: inline-block;
  float: left;
  height: 12px;
  width: 10px;
}

.month-0 {
  background: #f0f0f0;
}

.month-1 {
  background: #bdbdbd;
}

.month-2 {
  background: #969696;
}

.month-3, .month-4, .month-5, .month-6, .month-7 {
  background: #525252;
}

.month-rows {
  display: none;
}

.month-row td {
  padding: 3px 10px;
  font-size: 18px;
}

.toggle-table-link {
  display: inline-block;
  clear: both;
  margin: 1em 10px 0;
  font-size: 18px;
}
