body {
  padding: 5px;
  font-size: 13px;
}

body, li {
  /* sure would be nice to SASS this away in bootstrap... */
  line-height: 15px;
}

a {
  color: lightblue;
}

h1 {
  display: inline-block;
  font-size: 30px;
}

#collection-choices {
  display: inline-block;
}

#collection-choices ul {
  margin: 0 0 0 5px;
}

#collection-choices li {
  display: inline-block;
  margin-left: 20px;
  font-size: 18px;
}

.category-box {
  border: 1px solid #ccc;
  padding: 10px;
  margin: 5px;
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

.category-box h4 {
  margin: 0 0 0.5em;
}

.category-box ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.category-box li {
  padding: 3px 0;
  border-bottom: 1px solid #ddd;
}

.category-box li:last-child {
  border-bottom: none;
}

.category-box .count {
  margin-left: 25px;
  color: #999;
}

.category-box .time {
  font-size: 10px;
  color: #999;
}

.category-box .note {
  background: #f3f3f3;
}
